* {
  box-sizing: border-box;
  color: white;
  font-family: 'Muli', sans-serif;
  margin: 0;
  padding: 0;
}

html {
  font-size: 6.25%;
}

body {
  background: linear-gradient(0deg, #0062d2 10%, #003476 80%);
  display: flex;
  flex-flow: column;
  font-size: 16rem;
  height: 100vh;
}

.header {
  display: flex;
  height: 15vh;
}

.header__menu {
  display: inline-flex;
  font-weight: bold;
  outline: 3rem solid #03045e;
  text-align: center;
  width: 100vw;
}

.header__menu--logo {
  background-color: #003476;
  padding: 10rem;
  width: 220rem;
}

.header__menu--item {
  flex: 1;
  font-size: 25rem;
  line-height: 60rem;
  list-style: none;
  transition: flex .5s;
}

.header__menu--item:hover {
  flex: 1.5;
}

#li1 {
  background-color: #0062d2;
}
#li2 {
  background-color: #b4d2f7;
}
#li3 {
  background-color: #d5dfef;
}
#li4 {
  background-color: #cbcccf;
}

.header__menu a {
  display: inline-block;
  position: relative;
  top: 10rem;
}

.container {
  display: flex;
  height: inherit;
  width: 100vw;
}

.container__content {
  flex: 1;
}

h1 {
  padding-left: 15rem;
  font-size: 50rem;
}

p {
  font-size: 20rem;
  padding-left: 30rem;
}

ol li {
  font-size: 20rem;
  padding-left: 30rem;
}

.container__aside {
  flex: 0 0 15%;
  outline: 1px solid magenta;
  overflow-y: scroll;
}

.container__aside div {
  background-color: plum;
  border-radius: 10rem;
  height: 20%;
  margin: 10rem;
}

::-webkit-scrollbar-thumb {
  background: #495057;
  border-radius: 4px;
}
::-webkit-scrollbar {
width: 10px;
height: 6px;
background:rgba(0, 0, 0, 0.0);
border-radius: 5px;
}
::-webkit-scrollbar:hover {
background: #6c757d;
box-shadow: 0 0 2px 1px rgba(0, 0, 0, 1);
}
::-webkit-scrollbar:hover:active {
background: #999;
}

.footer {
  outline: 1px solid salmon;
  height: 10vh;
  margin-top: auto;
}